<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Avi Dance Academy</title>
 link(rel="stylesheet", href="../static/styles.css")
 link(rel="stylesheet", href="../static/contact.css")
 
</head>
<body>

 <nav class="navbar">
 <img class="logo" src="../static/logo.png" alt="logo">
 <ul>
 <li><a href="/">Home</a></li>
 <li><a href="/">About</a></li>
 <li><a href="/">Services</a></li>
 <li><a href="/contact">Contact Us</a></li>
 </ul>
 </nav>
 
 <div class="contact">
  <h2 class="heading">Contact Us!!</h2>
  <div class="input-form">
  <form action="/contact" method="post" class="myForm">
  <input type="text" name="name" placeholder="Enter Your name">
  <input type="text" name="mob" placeholder="Enter Your Phone Number">
  <input type="text" name="mail" placeholder="Enter Your mail id">
  <input type="text" name="address" placeholder="Enter Your Address">
  <textarea type="text" name="more" placeholder="Enter More About You" rows="5" cols="15"></textarea>
  <button class="btn">Submit</button>
  </form> 
  </div>
 
 
 </div>
 


 <section class="footer">
 | Copyright &#169 AbhiDanceAcademy.com | All Rights Reserved 
 </section>
 
</body>
</html>